.link77 {
    text-decoration: none;
    color: black;
}

.Button11:hover {
    /* Кнопка  */
    color: blue;
}

.link1Block3:hover {
    color: blue;
}

.link2Block3:hover {
    color: blue;
}

.link77:hover {
    color: blue;
}


/* ----------------------   Для Desktop 2-----------------------------------------*/


@media (min-width: 1680px)  {


    .mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .Container1Flex1 {    /* Блок с текстом и фотографией  */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 12.15vw;
    }
    
    .Block1Container1 {   /* Блок с текстом */
        width: 43.14%;
       margin-top: 1.56vw; 
    }
    
    .Size_1 {          /* Размер шрифта заголовка  */
        font-size: 44px;
    }
    
    #OtstupTop1 {
        margin-top: 3.03vw;
    }
    
    .Button11 {                  /*  Кнопка  */
        background-color: rgba(255, 100, 100, 1);
        color: white;
        width: 208px;
        height: 47px;
        margin-top: 3.29vw;
        font-size: 20px;
    }
    
    .Block2Container1 {   /* Блок с Фотографией */
        background-image: url(picture/Ellipse1.png);
        background-size: cover;
        width: 486px;
        height: 486px;
        margin-left: 9.98%;
    }
    
    .Block3_Flex {                /* Флекс контейнер для Recent Post  */
        display: flex;
        flex-direction: row;
        justify-content: center; 
        flex-wrap: wrap;  
        margin-top: 6.16vw;
        width: 100%;
        height: 396px;
        background-color: #E5E5E5;
    }
    
    .Inside1_Block3 {                        /* Первый внутренний блок */
        width: 36.28%;
        height: 355px;
        margin-top: 7px;
    }
    
    .Inside2_Block3 {                         /*  Второй внутренний блок  */
        width: 36.28%;
        height: 355px;
        margin-left: 1.7%;
        margin-top: 7px;
    }
    
    .post {                          /* Ссылка на посты  */
        height: 60px;
        font-size: 22px;
        padding-top: 12px;
    }
    
    .link1Block3 {                 /* Стили ссылки на посты  */
        color: black;
        text-decoration: none;
    }
    
    .TextBlock1 {                      /*    Стили для первого и второго блока  */
        background-color: white;
        width: 100%;
        height: 295px;
        padding-left: 23px;
        padding-top: 24px;
        padding-right: 21px;
    }
    
    .TextOglav1 {                       /* Заголовок первого и второго Блока */
        font-size: 26px;
    }
    
    .OtstupyVert1 {                 /* Отступы внутренние  */
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
    }  
    
    .view {
        /*  Ссылка посмотреть все */
        height: 60px;
        width: 100%;
        text-align: right;
        padding-top: 20px;
    }
    
    .link2Block3 {
        /*  Стили ссылки посмотреть все  */
        color: #00A8CC;
        text-decoration: none;
    
    }
    
    .Block4 {
        width: 74%;
        height: 75px;
        font-size: 22px;
    }
    
    .Container1Block5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 74%;
        justify-content: center;
    }
    
    
    .sizePic {
        width: 29%;
    
    }
    
    
    .Cell1 {
        margin-left: 1%;
        width: 70%;
        height: 180px;
    }
    
    .TextSizeBlock5 {
        font-size: 30px;
    }
    
    .Data1 {
        background-image: url(picture/Rectangle\ 38.png);
        width: 62px;
        height: 25px;
        background-size: cover;
        padding-top: 3px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 33px;
    }
    
    .VectorOtstup {
        margin-top: 35px;
        margin-bottom: 34px;
    }
    
    }



/* ----------------------   Для Desktop 2-----------------------------------------*/


@media (min-width: 901px) and (max-width: 1679px) {


.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Container1Flex1 {    /* Блок с текстом и фотографией  */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12.15vw;
}

.Block1Container1 {   /* Блок с текстом */
    width: 43.14%;
   margin-top: 1.56vw; 
}

.Size_1 {          /* Размер шрифта заголовка  */
    font-size: 44px;
}

#OtstupTop1 {
    margin-top: 3.03vw;
}

.Button11 {                  /*  Кнопка  */
    background-color: rgba(255, 100, 100, 1);
    color: white;
    width: 208px;
    height: 47px;
    margin-top: 3.29vw;
    font-size: 20px;
}

.Block2Container1 {   /* Блок с Фотографией */
    background-image: url(picture/Ellipse1.png);
    background-size: cover;
    width: 243px;
    height: 243px;
    margin-left: 9.98%;
}

.Block3_Flex {                /* Флекс контейнер для Recent Post  */
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;  
    margin-top: 6.16vw;
    width: 100%;
    height: 396px;
    background-color: #E5E5E5;
}

.Inside1_Block3 {                        /* Первый внутренний блок */
    width: 36.28%;
    height: 355px;
    margin-top: 7px;
}

.Inside2_Block3 {                         /*  Второй внутренний блок  */
    width: 36.28%;
    height: 355px;
    margin-left: 1.7%;
    margin-top: 7px;
}

.post {                          /* Ссылка на посты  */
    height: 60px;
    font-size: 22px;
    padding-top: 12px;
}

.link1Block3 {                 /* Стили ссылки на посты  */
    color: black;
    text-decoration: none;
}

.TextBlock1 {                      /*    Стили для первого и второго блока  */
    background-color: white;
    width: 100%;
    height: 295px;
    padding-left: 23px;
    padding-top: 24px;
    padding-right: 21px;
}

.TextOglav1 {                       /* Заголовок первого и второго Блока */
    font-size: 26px;
}

.OtstupyVert1 {                 /* Отступы внутренние  */
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}  

.view {
    /*  Ссылка посмотреть все */
    height: 60px;
    width: 100%;
    text-align: right;
    padding-top: 20px;
}

.link2Block3 {
    /*  Стили ссылки посмотреть все  */
    color: #00A8CC;
    text-decoration: none;

}

.Block4 {
    width: 74%;
    height: 75px;
    font-size: 22px;
}

.Container1Block5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 74%;
    justify-content: center;
}


.sizePic {
    width: 29%;

}


.Cell1 {
    margin-left: 1%;
    width: 70%;
    height: 180px;
}

.TextSizeBlock5 {
    font-size: 30px;
}

.Data1 {
    background-image: url(picture/Rectangle\ 38.png);
    width: 62px;
    height: 25px;
    background-size: cover;
    padding-top: 3px;
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 33px;
}

.VectorOtstup {
    margin-top: 35px;
    margin-bottom: 34px;
}

}



/* ----------------------   Для Mobil 1-----------------------------------------*/


@media (min-width: 600px) and (max-width: 900px) {


    .mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .Container1Flex1 {    /* Блок с текстом и фотографией  */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 12.15vw;
    }
    
    .Block1Container1 {   /* Блок с текстом */
        width: 43.14%;
       margin-top: 1.56vw; 
    }
    
    .Size_1 {          /* Размер шрифта заголовка  */
        font-size: 44px;
    }
    
    #OtstupTop1 {
        margin-top: 3.03vw;
    }
    
    .Button11 {                  /*  Кнопка  */
        background-color: rgba(255, 100, 100, 1);
        color: white;
        width: 208px;
        height: 47px;
        margin-top: 3.29vw;
        font-size: 20px;
    }
    
    .Block2Container1 {   /* Блок с Фотографией */
        background-image: url(picture/Ellipse1.png);
        background-size: cover;
        width: 243px;
        height: 243px;
        margin-left: 9.98%;
    }
    
    .Block3_Flex {                /* Флекс контейнер для Recent Post  */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;  
        margin-top: 6.16vw;
        width: 100%;
        min-height: 396px;
        background-color: #E5E5E5;
    }
    
    .Inside1_Block3 {                        /* Первый внутренний блок */
        width: 94%;
        height: 355px;
        margin-top: 7px;
    }
    
    .Inside2_Block3 {                         /*  Второй внутренний блок  */
        width: 94%;
        height: 355px;
        margin-left: 1.7%;
        margin-top: 7px;
    }
    
    .post {                          /* Ссылка на посты  */
        height: 60px;
        font-size: 22px;
        padding-top: 12px;
    }
    
    .link1Block3 {                 /* Стили ссылки на посты  */
        color: black;
        text-decoration: none;
    }
    
    .TextBlock1 {                      /*    Стили для первого и второго блока  */
        background-color: white;
        width: 100%;
        height: 295px;
        padding-left: 23px;
        padding-top: 24px;
        padding-right: 21px;
    }
    
    .TextOglav1 {                       /* Заголовок первого и второго Блока */
        font-size: 26px;
    }
    
    .OtstupyVert1 {                 /* Отступы внутренние  */
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
    }  
    
    .view {
        /*  Ссылка посмотреть все */
        height: 60px;
        width: 100%;
        text-align: right;
        padding-top: 20px;
    }
    
    .link2Block3 {
        /*  Стили ссылки посмотреть все  */
        color: #00A8CC;
        text-decoration: none;
    
    }
    
    .Block4 {
        width: 94%;
        height: 75px;
        font-size: 22px;
    }
    
    .Container1Block5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 94%;
        justify-content: center;
    }
    
    
    .sizePic {
        width: 29%;
    
    }
    
    
    .Cell1 {
        margin-left: 1%;
        width: 94%;
        height: 180px;
    }
    
    .TextSizeBlock5 {
        font-size: 30px;
    }
    
    .Data1 {
        background-image: url(picture/Rectangle\ 38.png);
        width: 62px;
        height: 25px;
        background-size: cover;
        padding-top: 3px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 33px;
    }
    
    .VectorOtstup {
        margin-top: 35px;
        margin-bottom: 34px;
    }
    
    }


/* ----------------------   Для Mobil 2 -----------------------------------------*/


@media (max-width: 599px) {


    .mainBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Container1Flex1 {
        /* Блок с текстом и фотографией  */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .Block1Container1 {
        /* Блок с текстом */
        width: 94%;
        text-align: center;
    }

    .Size_1 {
        /* Размер шрифта заголовка  */
        font-size: 32px;
        margin-bottom: 21px;
        width: 94%;
    }

    .Button11 {
        /*  Кнопка  */
        background-color: rgba(255, 100, 100, 1);
        color: white;
        width: 208px;
        height: 47px;
        margin-top: 27px;
    }

    .Block2Container1 {
        /* Блок с Фотографией */
        background-image: url(picture/Ellipse1.png);
        background-size: cover;
        width: 171px;
        height: 171px;
        margin-bottom: 43px;
    }

    .Block3_Flex {
        /* Флекс контейнер для Recent Post  */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
        width: 100%;
        min-height: 647px;
        background-color: #E5E5E5;
    }

    .Inside1_Block3 {
        /* Первый внутренний блок */
        width: 94%;
        min-height: 326px;
        margin-bottom: 17px;

    }

    .Inside2_Block3 {
        /*  Второй внутренний блок  */
        width: 94%;
        min-height: 266px;


    }
    
    .post {
        /* Ссылка на посты  */
        height: 60px;
        font-size: 18px;
        padding-top: 12px;
        text-align: center;
    }


    .link1Block3 {
        /* Стили ссылки на посты  */
        color: black;
        text-decoration: none;
    }



    .view {
        display: none;
        /*  Выключено Ссылка посмотреть все */

    }


    .TextBlock1 {
        /*    Стили для первого и второго блока  */
        background-color: white;
        width: 100%;
        min-height: 266px;
        padding-left: 19px;
        padding-top: 12px;
        padding-right: 21px;
    }


    .TextOglav1 {
        /* Заголовок первого и второго Блока */
        font-size: 22px;
    }


    .link77 {
        text-decoration: none;
        color: black;
    }


    .OtstupyVert1 {
        /* Отступы внутренние  */
        margin-top: 12px;
        margin-bottom: 19px;
        font-size: 16px;
    }

    .Block4 {
        width: 94%;
        height: 75px;
        font-size: 18px;
        text-align: center;
    }


    .Container1Block5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .sizePic {
        width: 94%;
    }

    .Cell1 {
        margin-left: 18px;
        width: 94%;
        min-height: 220px;
    }


    .TextSizeBlock5 {
        font-size: 24px;
    }


    .Data1 {
        background-image: url(picture/Rectangle\ 38.png);
        width: 62px;
        height: 25px;
        background-size: cover;
        padding-top: 3px;
        padding-left: 10px;
        margin-top: 15px;
        margin-bottom: 33px;
    }


    .VectorOtstup {
        width: 94%;
        margin-top: 15px;
        margin-bottom: 15px;
    }




    }